// Generic

%pull-left {
  float: left;
}
%pull-right {
  float: right;
}

// Grid Overrides

%half-column {
    @include span-columns(6, block-collapse);
    @include flex(1 1 50%);
}

%quarter-column {
    @include span-columns(3, block-collapse);
    @include flex(1 1 25%);
}

/* Flexbox */
$flex-box-gutter: 0.4em !default;

%flex__wrapper {
  @include clearfix;
  @include display(flex);
  @include flex-wrap(wrap);
}

%flex__box {
  @include flex-grow(1);
  @include flex-basis(100%);
}

%flex__box--half {
  @extend %flex__box;

  @include media($large-screen) {
    @include flex-basis(50%);
  }
}

%flex__box--third {
  @extend %flex__box;

  @include media($medium-screen) {
    @include flex-basis(50%);
    padding-right: 1em;
  }

  @include media($large-screen) {
    @include flex-basis(33.3333%);
  }
}

// RWD Tables
%responsive-tables-large {
  @include rwd-first;

  @include media($large-screen) { 
    @include rwd-second; 
  }
}

// Let's create some attractive form fields...
%pretty-input {
  border: 1px solid white;
  background-color: inherit;
  color: inherit;
  position: relative;
  margin: 0 auto rem(8);
  padding: 0;
  width: 100%;
  line-height: 1;

  label {
    font-size: em(12);
    text-align: left;
    padding: em(8);
    margin: 0;
    width: 100%;
  }

  #{$all-text-inputs},
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    margin: 0;
    cursor: pointer;
    background: transparent;

    &:focus, &:hover, &:active {
      outline: none;
    }
  }
}

/* button variations */
%button {
	@extend %button;
	width: 100%;
	background-clip: padding-box;


	@include media($medium-screen) {
    width: auto;
  }
}

%button--hollow {
  @extend %button;
  background-color: transparent;
  border: solid 1px $base-button-color;
  color: $base-button-color;

  &:hover,
  &:focus {
    background-color: inherit;
    color: inherit;
  }
}

%button--wide {
  padding: rem(12) 1rem;
}

%button--large {
	@extend %button--wide;
	font-size: rem(20);
}

%button--pill {
	@extend %button--wide;
	border-radius: 2rem;
}

/* Callout Blocks */
%callout {
  font-size: 18px;
  margin: 0 auto;
  padding: $pad-half;
  text-align: center;
}

%callout--background {
  @extend %callout;
  margin: $pad-half auto;
  background-color: color($gray-map,light);
}

%callout--hollow {
  @extend %callout;
  border: solid 1px desaturate($darkPrimaryColor, 0.2);
  width: 100%;
  font-size: 14px;
}

/* Block with Thumbnail Images */
%block-with-thumb {
  position: relative;
  border-collapse: collapse;
  margin-bottom: $base-spacing;
}

%bwt-wrapper {
  display: table-row;
  vertical-align: top;
  overflow: hidden;

  .title {
    margin-top: 0;
  }
}

%bwt-thumb {
  max-width: em(280);
  margin: 0 auto ($base-spacing / 2);

  img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  @include media($medium-screen) {
    display: table-cell;
    vertical-align: top;  
    width: 15%;
  }
}

%bwt-inner-text {
  @include media($medium-screen) {
    display: table-cell;
    width: 70%;
    padding: 0 $pad;
  }
}

/* Hide Text Offscreen but leave it available for screenreaders */

%cleaner-offscreen-text {
	text-indent: 101%;
  	white-space: nowrap;
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* for Internet Explorer */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

/* Flexible Media */
%flexible-media {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Full Sizes BG Images w/out CSS Backgrounds */
%img-bg-large {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;

  img {
    z-index: 0;
    height: 100%;
    width: 100%;
  }
}