<header class="site-header">
    <div class="wrapper">
        <a href="{{ baseUrl }}/" class="site-title">{{site.title}}</a>
        <nav class="navigation__primary">
            <ul class="navigation-menu">
                <li class="menu-item"><a href="{{ baseUrl }}/blog">Blog</a></li>
                {%- for post in collections.pages %}
                {%- if post.priority > 1 %}
                    <li class="menu-item"><a href="{{ baseUrl }}/{{post.path}}">{{post.linkTitle}}</a></li>
                {% endif -%}
                {% endfor -%}
            </ul>
        </nav>
        {% if site.show_social_icons %}
            {% include social_links.html %}
        {% endif %}
    </div>
</header>
