.btn--cta {
	@extend .btn;
	font-weight: bold;
	border: none;
	border-radius: 1px;
	color: $white;
	background-color: $base-cta-color;
	border-bottom: solid 3px $hover-cta-color;
	max-width: 12em;


	&:hover,
	&:focus {
		background-color: $hover-cta-color;
		color: $white;
	}
}

.btn--submit,
.btn--subscribe {
	@extend button;
    border: none;
    padding: em(12);
    border-radius: 0;
	text-transform: uppercase;
}

.btn--search {
	@extend .btn;
	@include iconify-button(40px, right);
	min-height: 40px;
	max-height: em(44);
	font-size: 1em;
	padding: em(14) em(12) em(12);
	border-left: 0;
	font-weight: bold;
}