.contact-form {
	margin-top: 1.5em;

	input,
	textarea {
		background-color: #efefef;
	}

	.honey-captcha {
		@extend %cleaner-offscreen-text;
		height: 0;
		width: 0;

		.input-field {
			position: absolute;
			left: -9999px;
		}
	}

	.form-group {
		margin-bottom: 1em;
	}
}

.error {
	border: solid 1px $error-color !important;
}

.error-message {
	line-height: 1;
	float: left;
	color: $error-color;
	margin: -8px 4px 0;
}

// Mailchimp

.mailchimp-signup {
    max-width: rem(640);
    margin: 0 auto;

    .input-field {
        @extend %pretty-input;
    }

    .mc-field-group {
        display: block;
        float: left;
        width: 100%;
        margin: 0;

        label,
        .email,
        .btn--subscribe {
            float: left;
            width: 100%;
            display: inline-block;
        }

        .email {
            border: solid 1px color($gray-map, light);
            font-size: 1rem;
            padding: rem(12);

            @include media($medium-screen) {
                max-width: calc(100% - 122px);
            }
        }

        .btn--subscribe {
            margin: rem(8) auto 0;

            @include media($medium-screen) {
                max-width: rem(120);
                margin-top: 0;
                margin-left: 2px;
            }
        }
    }

}
