/* Hero Elements */

.hero {
	@include aspect-ratio(16,3);
	@include display(flex);
	padding: 2em 1em;
	background-color: $black;
	color: $white;
	text-shadow: 0 0 1px color($gray-map,base);
	border-top: solid 1px rgba($black, 0.5);
	border-bottom: solid 1px rgba($black, 0.5);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;

	@include media($medium-screen) {
		padding: 1em;
	}
}

%hero__wrapper {
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
	@include flex-basis(1);
	@include flex-direction(column);
}

.hero .wrapper {
	@extend %hero__wrapper;

	@include media($medium-screen) {
		@include flex-direction(row);
	}
}

.overlay--hero {
	@extend .overlay;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: rgba(black, 0.25);
}

.copy--hero {
	text-align: center;
	text-shadow: 0 0 10px #000;

	.headline {
		margin: 0 auto;

		@include media($medium-screen) {
			font-size: ( $h1-font-size * 1.4 );
		}
	}
}


