// The nav items
.menu-item {
	background-color: transparent;
	float: left;

	.sidebar & {
		width: 100%;
		text-align: left;
		font-size: 1.2em;
	}
}

.navigation__primary {
	.menu-item {
		font-weight: bold;
		text-transform: uppercase;

		@include media($medium-screen) {
			border: none;
		}
	}

	@include media($medium-screen) {
		float: right;
	}

	@include media($large-screen) {
		margin-right: 0;
	}
}
