body { font-size: 48px; }
h1, h2 { font-weight: bold; }
h1 { margin-bottom: 0.25em; }
h2 { margin-top: 0.25em; }
.logo {
    width: 234px;
    max-height: 130px;
    float: right;
    display: inline-block;
}
.mailchimp-signup {
    font-size: 16px;
    max-width: 48rem;
    margin: 0 auto;
}
.mailchimp-signup .mc-field-group {
    display: block;
    float: left;
    width: 100%;
    margin: 0;
}
.mc-field-group label {
    width: 100%;
    float: left;
}
.mc-field-group input {
    float: left;
    max-width: 62%;
}