fieldset {
  background: color($gray-map,light);
  border: $base-border;
  padding: $base-spacing;
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

#{$all-text-inputs},
textarea {
  @include transition(border-color);

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $base-spacing / 4;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline;
}

input[type="file"] {
  padding-bottom: $base-spacing / 2;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}

.has-error input {
  border-width: 2px;
  border-color: $error-color;
}

.validation.text-danger {
  color: $error-color;
  &:after {
    content: 'Validation failed';
  }
}

.validation.text-success:after {
  content: 'Validation passed';
}