{% extends './default.html' %}

{% block content %}
<article class="splash">
    <div class="wrapper">
        <img src="../images/logo--learnatomicdesign.jpg" class="logo" title="Learn Atomic Design" alt="Learn Atomic Design Logo"/>
        {{contents | safe}}
    </div>
</article>
{% endblock %}
{% block announcements %}
<article class="announcement">
    <div class="wrapper">
        <h3><strong>Learn Atomic Design is coming to Athens, GA!</strong></h3>
        <p>I will be teaching Learn Atomic Design as a six week course in partnership with Four Athens. </p>
        <p>You can sign up for the course via <a href="https://www.fourathens.com/intermediateclasses/#tab-htmlcss" title="Classes at Four Athens">the Four Athens Classes page</a></p>
        <p>You can learn more about the course via the blog: <a href="/blog/learn-atomic-design-via-four-athens/" title="Learn Atomic Design via Four Athens Blog Post">Learn Atomic Design via Four Athens</a>.</p>
    </div>
</article>
<article class="callout--signup">
    <div class="mailchimp-signup wrapper">
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup" class="form-group">
            <form action="//torchcodelab.us6.list-manage.com/subscribe/post?u=e48bbeb07e5219592b91e283c&amp;id=7329ad1c66"
                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                  target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <h4>Sign up to be notified when Learn Atomic Design launches!</h4>
                    <div class="mc-field-group input-field">
                        <label for="mce-EMAIL">Email Address</label>
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn--subscribe">
                    </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e48bbeb07e5219592b91e283c_7329ad1c66" tabindex="-1"value=""></div>
                </div>
            </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script type='text/javascript'>(function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[ 0 ] = 'EMAIL';
            ftypes[ 0 ] = 'email';
            fnames[ 1 ] = 'FNAME';
            ftypes[ 1 ] = 'text';
            fnames[ 2 ] = 'LNAME';
            ftypes[ 2 ] = 'text';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
    </div>
</article>
{% endblock %}
