{% extends './default.html' %}

{% block content %}
<div class="wrapper">
  <header class="post-header">
    <h1 class="headline">{{ title }}</h1>
    <span class="post-meta">{{ date | date('M j, Y') }}</span><br>
    <span class="post-meta">
    {% for tag in tags %}<a href="{{baseUrl}}/tags/{{tag | replace(' ', '-')}}" title="{{tag}}">{{tag}}</a>{% if !loop.last %}, {% endif %}{% endfor %}
    </span>
  </header>
  <article class="post-content">
  {{contents | safe}}
  </article>
</div>
{% endblock %}

{% block thirdparty %}

{% endblock %}