.form {
	position: relative;
	width: 100%;

	@extend %pretty-input;

	input, select, button, label {
		display: inline-block;
		border-radius: 0;
		line-height: 1;
		position: relative;
	}

	label {
		position: absolute;
		top: em(10);
		left: em(10);
		color: #f1773b;
		opacity: 0;
		z-index: 10;
	}

	label > .icon {
		margin-left: ( $base-spacing / 3 );
	}

	textarea,
	#{$all-text-inputs} {
		padding: ($pad * 2) $pad $pad;

		@include placeholder {
			color: color($gray-map,base);
		}

		&:focus {
			@include placeholder {
				color: $white;
			}
		}

		&:focus + label {
			opacity: 1;
		}
	}

	textarea {
		height: 16em;
	}

	ul {
		@include outer-container(100%);
		margin-bottom: 1em;
		position: relative;
	}

	li {
		width: 100%;
		position: relative;
		margin-bottom: 0;
	}
}

.screenreader {
	@extend %cleaner-offscreen-text;
	width: 0;
	padding: 0;
}

.hiddenCheckbox {
	cursor: pointer;
	display: block !important;
	width: 100%;
}

input[type="submit"] {
	-webkit-appearance: none; /* remove default browser <button> styling */
	-webkit-transition: .333s ease -webkit-transform;
	transition: .333s ease transform;
}