form {
	label > .icon {
		margin-left: ( $base-spacing / 3 );
	}

	textarea,
	#{$all-text-inputs} {

		@include placeholder {
			color: color($gray-map,base);
		}

		&:focus {
			@include placeholder {
				color: $white;
			}
		}

		&:focus + label {
			opacity: 1;
		}
	}

	textarea {
		height: 16em;
	}

	ul {
		@include outer-container(100%);
		margin-bottom: 1em;
		position: relative;
	}

	li {
		width: 100%;
		position: relative;
		margin-bottom: 0;
	}
}

.screenreader {
	@extend %cleaner-offscreen-text;
	width: 0;
	padding: 0;
}

.hiddenCheckbox {
	cursor: pointer;
	display: block !important;
	width: 100%;
}

input[type="submit"] {
	-webkit-appearance: none; /* remove default browser <button> styling */
	-webkit-transition: .333s ease -webkit-transform;
	transition: .333s ease transform;
}